@charset "utf-8";
/* CSS Document */
 @media only screen and (max-width:1366px) {
.main_banner .caption { top: 130px; }
.main_banner .caption h1 { font-size: 50px; }
.main_banner .caption h2 { font-size: 27px; }
.year-events { bottom: 70px; }
}
 @media only screen and (max-width:1240px) {
	 .bg_banner{background-position: 0 136px !important;}
.inner_banner figcaption span{ font-size:35px;}
.main_banner .caption h1 { font-size:40px; }
.main_banner .caption h2 { font-size: 22px; }
h1{ font-size:50px;}	 
.wrapper-content, #how_nav.fixed .wrap, .carousel { width: 970px; }
header .top_links .leftLinks { width: auto; }
header .top_links .leftLinks ul li, .country_lang ul li { padding: 0 6px; }
.country_lang { padding: 0 10px; }
.header2 .rightMenu { width: auto; }
.header2 .rightMenu nav ul li.level-1>a{ font-size: 17px; padding: 5px 11px; }
h3 { font-size: 30px; }
h2 { font-size: 40px; }
footer ul li { font-size: 11px; width: 15%; padding-right: 1%; }
.slideMenu li { padding: 0 3%; }
.our-services ul li .banner-box .txt, .inner_section.article_section.success_stories article { font-size: 17px; }
.inner_section.how_bank li h5 { font-size: 12px; }
.corporate_partner ul li figure { width: 32%; }
#buy_online_form .step1, #buy_online_form .step2 { padding: 0 50px; }
.form_steps li { width: 120px; }
#buy_online_form { padding: 50px 0; }
.decade .tab_controls ul li { margin-left:1%; }
.bottom_section .box h3 { font-size: 35px; }
.personal_tech .cell1, .cell2 { padding: 0; }
.inner_section.article_section .flex-direction-nav a.flex-next { right: 0; }
.inner_section.article_section .flex-direction-nav a.flex-prev { left: 0; }
.hitech_section2 .tab_controls li { font-size: 15px; }
.archive_list_section li{ width:297px;}
#pre-sale label{ font-size:13px;}
}
 @media only screen and (max-width:1020px) {
.bg_banner.home_banner img{ min-height:365px;}	 
.main_banner .caption { top:80px; }
.main_banner .flex-control-nav{top: 32%;}	
.main_banner{ margin-top:136px;}
.bg_banner.home_banner img{ margin-top:136px;}	 
body { font-size: 14px; }
.wrapper-content, #how_nav.fixed .wrap, .carousel { width: 730px; }
header .top_links .leftLinks ul li { font-size: 11px; padding: 0 5px; }
.rightLinks { font-size: 11px; }
.left_Floter .events { margin-left: -185px; }
.header2 .rightMenu { min-height: 57px; }
.country_lang button { font-size: 10px; }
.rightLinks .help ul li a, header .top_links .leftLinks ul li, .country_lang ul li { padding: 0 3px; }
.rightLinks .searchLogin { padding-left: 0; padding-top: 2px;/* float:none;*/ }
.country_lang { display: none }
.country_lang { padding: 0; }
.country_lang ul li:first-child { width: 60px; }
.header2 .logo { width: 25%; margin-top: 27px; }
.header2 .rightMenu .contact_number { font-size: 15px; }
.header2 .rightMenu .contact_number dl dd { margin-left: 6px; }
.country_lang #country_list ul { width: 210px; }
.header2 .rightMenu nav ul li.level-1>a{ font-size: 15px; padding: 5px 4px; }
h3, .inner_section.how_bank h3 { font-size: 25px; }
h2 { font-size: 30px; }
.international_quality .caption p, .umbilical_cord p, .our-services .region > h3, .green_band, .inner_section.article_section.success_stories figure figcaption { font-size: 20px; }
.our-services ul li .banner-box .txt { font-size: 15px; line-height:1.3 }
.header2 .rightMenu nav ul li.level-1 { position: static; }
body .header2 .rightMenu nav ul li.level-1 .tb-megamenu-submenu { width: 730px; margin-right: 0!important }
.header2 .rightMenu nav ul li.level-1 + li.level-1 + li.level-1 .tb-megamenu-submenu { margin-right: 0px !important; }
.header2 .rightMenu nav ul li.level-1 + li.level-1 + li.level-1 + li.level-1 .tb-megamenu-submenu { margin-right: 0px !important; }
.header2 .rightMenu nav ul li.level-1 + li.level-1 + li.level-1 + li.level-1 + li.level-1 .tb-megamenu-submenu { margin-right: 0px !important; }
.header2 .rightMenu nav ul li.level-1 .about-tb-menu-block { width: 23%; }
.header2 .rightMenu nav ul li.level-1 #tb-megamenu-column-4 ,.header2 .rightMenu nav ul .menu-right-block { position: absolute; right: 0; top: 0; height: 100%; padding: 0 2%; width: 35%; }
.header2 .rightMenu nav ul li.level-1 .tb-megamenu-submenu { top: 29px; }
.header2 .rightMenu nav ul li.level-1:after { display: none!important }
.inner_section.article_section.success_stories article { font-size: 15px; }
.faqs_tabs li h4 { font-size: 15px; }
.faqs_tabs .tabs_content { font-size: 13px; }
.inner_section.gift_registery .form form .row input, .inner_section.gift_registery .col p { font-size: 13px; }
#buy_online_form .step1, #buy_online_form .step2 { padding: 0 20px; }
.form_steps li { width: 110px; font-size: 14px; }
#buy_online_form { padding: 25px 0; }
.our-services ul li .banner-box .hoverDiv .txt { font-size: 13px; line-height: 1.4; top:20%; }
.section1 .why_lifecell { position: relative; }
.section1 .why_lifecell .list { position: absolute; right: 0; top: 4px; width: 90%; }
.section1 .why_lifecell ul { position: relative; right: -60px; }
.section1 .why_lifecell ul li span { font-size: 20px;  }
.section1 .why_lifecell ul li { padding: 0 5px; font-size: 12px; }
.section1 .why_lifecell .title { padding: 20px 39px 30px 0; font-size: 24px; }
.info_details ul li span { font-size: 18px; }
.international_quality h3 { font-size: 18px; }
/*.left_Floter .follower{ max-width:25px;}
.left_Floter .events > a.button{ width:25px;}
.left_Floter .events{ margin-left:-189px;}*/
.info_details h3 { font-size: 20px; }
.why_stemcell figure iframe { height: auto; }
.why_stemcell .feats li { width: 30%; }
.inner_section.article_section.success_stories article { padding-top: 0; }
.bottom_section .box h3 { font-size: 25px; }
.bottom_section .box h4 { font-size: 18px; }
.bottom_section .box .content { right: 10px; text-align:right; width: 65%; }
.bottom_section .box .content img { max-width: 60%; }
.bottom_section .box .content .read_more { margin-top: 10px; }
#how_nav.fixed { top: 134px; }
.tb-detail .testing figure, .tb-detail .preservation figure, .tb-detail .transplant figure, .tb-detail .enrolment figure { margin: 0 2% 2% 0; }
.tb-detail .collection figure { margin: 0 0% 2% 2%; }
.tb-detail .testing figcaption, .tb-detail .preservation figcaption, .tb-detail .transplant figcaption, .tb-detail .collection figcaption, .tb-detail .enrolment figcaption { float: none; width: auto; }
.tb-detail .testing figcaption ul li p { padding: 0; }
.tb-detail .transplant figcaption ul, .tb-detail .testing figcaption ul, .tb-detail .preservation figcaption ul { clear: both; }
.track_sample .request_form .form { width: 69%; }
.track_sample .request_form textarea { width: 31%; }
.track_sample article .fieldItem { width: 58%; }
.sample_pickup { min-height: 300; }
.inner_section.update_profile article { padding-left: 0; width: 40%; }
.sample_pickup .sectionTwo, .sample_pickup .sectionOne { left: 2%; max-width: 96%; }
.arc_detail_section .tab_container { width: 60%; }
.archive_list { width: 35%; }
.why_stemcell figure figcaption { bottom: -30px; }
.inner_section.how_bank li a { width: 100%; }
.inner_section.how_bank li a figure { transform: scale(0.7); }
.decade .tab_controls ul li { margin-left:0%; }
.best_class h3, .personal_tech h3, .best_class2 h3 { font-size: 40px; }
.accr_top .col img { margin: 30px 4% 30px 0; }
.section6 h2 { top: 14px; font-size: 35px; }
.ourOffices .txt h3 { font-size: 20px; }
.ourOffices .caption { font-size: 20px; }
.pricing_box2 { margin: 0 16px 10px; }
.timeline-box .mCustomScrollBox { min-height: 300px }
.pricing_box2 .row { padding: 3%; }
.pricing_box2 .row { font-size: 14px; }
.pricing_box2 .row strong { font-size: 16px; }
.tab_content_wrapper { overflow: hidden; }
.timeline-controls ul li a { padding: 0 8px; }
.hitech_section2 .tab_controls li { padding: 15px; }
.hitech_section1 h2 small { font-size: 23px; }
#buy_online_form .row.row-third #textfields .form-item { display: inline-block; margin: 0 0 0 2%; vertical-align: middle; width: 47.54%; }
#buy_online_form .step3, #buy_online_form .step4, #buy_online_form .step5, #buy_online_form .step6 { padding: 0; }
.summary_box { width: 100%; }
.summary_box .summary_row { padding: 10px; font-size: 14px; }
#buy_online_form .row > .form-type-radios input + label { padding-left: 18px; }
.request_callback_form .form { padding: 30px 5%; }
.subscribe_section .block { width: 66%; }
.subscribe_section input[type="text"] { font-size: 14px; }
.press_release_section.upcoming_events .heading h4 { font-size: 17px; }
.press_release_section .flex-nav-next a { right: 0; }
.press_release_section .flex-nav-prev a { left: 0; }
.arc_detail_section .tab_container .title h3 { font-size: 26px; }
.pricing_box2 { width: 255px; margin: 0 10px 10px; }
.pricing_box2 h3 { font-size: 28px; }
.treatments_research .tab_container .tab_controls li { font-size: 14px; }
.treatments_research .tab_container .tab_content .content li { width: 40%; }
.treatments_research .tab_container .tab_content { padding: 0 10px 20px; }
.accr_tabs { min-height: 300px; }
.comparison_section .charts li { width: 88px; margin: 0 8px; }
.inner_section.umbilical_cord_tissue article { margin-left: 3%; width: 69%; }
.archive_list .scroll ul li .title strong { font-size: 15px; }

.section1{margin-top:0px!important}
.section1 .why_lifecell .title{ display:block!important; margin-left:0!important;}
.inner_section.refer_friend .right_section{ width:62%;}
.inner_section.refer_friend .form .fieldItem{ margin-bottom:15px;}
.timeline-box #mCSB_6_scrollbar_horizontal{ bottom:-10px}
.inner_banner figcaption span{ font-size:30px;}
h1{ font-size:40px;}
.archive_list_section li{ width:245px;}
.archive_list_section li h4{ font-size:16px;}
.slideMenu{ font-size:16px;}
#storage-fee .form-item{ width:47%;}
#pre-sale .form-item{ width:47%;}

#survey_form figure{ width:25%;}
#survey_form .right_section{ width:73%;}
#survey_form  .webform-progressbar{ width:93%;}
#survey_form .webform-progressbar-page .webform-progressbar-page-label{ font-size:12px;white-space: pre-line;
    width: 138px;}
	
.pregnancy_health .preg_health ul li{ width:300px}	
.pregnancy_lifestyle .preg_life ul li figcaption h3{ font-size:20px;}
#storage-fee .form-radios .form-item{ width:27%;}

}
 @media only screen and (min-width:980px) and (max-width:1020px) {
.wrapper-content, #how_nav.fixed .wrap, .carousel { width: 900px; }
.pricing_box2 { width: 203px;}
}
 @media only screen and (min-width:768px) {
.header2 .rightMenu nav .leftLinks { display: none; }
#termscondition h2{ font-size:30px;}
}
 @media only screen and (max-width:767px) {
.bg_banner.home_banner img{ min-height:160px;}
	 .inner_banner figcaption span{ font-size:18px;}
h1{ font-size:30px;}
body { font-size: 15px; }
footer ul li { font-size: 12px; }
h3, .inner_section.how_bank h3 { font-size: 20px; }
h2 , .treatments_research h2{ font-size: 25px; line-height: 1.1; }
header .top_links .leftLinks ul { display: none; }
.wrapper-content, #how_nav.fixed .wrap, .carousel { width: 96%; padding: 0 2% }
.rightLinks {/*width:100%; text-align:center;*/ }
.rightLinks .region-right-links-sidebar { display: inline-block; vertical-align: middle; float: none!important; margin-top: 3px; }
.header2 .logo { width: 150px; text-align: center; margin-top: 5px; }
.header2 .rightMenu { width: 100%; text-align: center; min-height: 0px; padding: 0px 0 }
.main_banner { margin-top: 97px; min-height:160px; }
.header2 .rightMenu .contact_number dl { width: 100%; text-align: center; }
.header2 .rightMenu .contact_number dl dd { float: none; display: inline-block; vertical-align:middle; padding:6px 15px 5px 25px; background-image:url("../images/contact_icon2.png"); margin: 0px; font-size: 14px; }

.header2 .rightMenu .contact_number dl dd.call {
    background-position: 0 6px;
}
.international_quality .caption p, .umbilical_cord p, .our-services .region > h3, .green_band, .inner_section.article_section.success_stories figure figcaption { font-size: 16px; }
.info_details ul li, .umbilical_cord .steps ul li p { font-size: 14px; }
.left_Floter .follower, .left_Floter { display: none; }
.umbilical_cord .steps ul li figure { max-width: 86%; margin: 0 auto; }
.protection_begins .txt p, .protection_begins .txt ul li { font-size: 14px; }
.protection_begins .txt p { line-height: 22px; }
.our-services ul li { width: 100%; margin-bottom: 20px; }
.our-services ul li .banner-box .banner figure { width: 100% }
.header2 .rightMenu .contact_number { font-size: 11px; }
body footer ul li { width: 100%; margin: 0 0 15px!important; }
body footer ul li li { margin: 0!important }
footer ul ul { padding-top: 5px; }
.ft_bottom .copyright, .ft_bottom .magnon, .ft_bottom .follower { padding: 0 0 5px; width: 100%; text-align: center; }
.rightLinks .help ul { display: none; }
/*nav fixed*/
.header2 .rightMenu nav { width: 70%; height: 100%; position: fixed; left: -70%; top: 0; bottom: 0; background: #fff; text-align: left; z-index: 9999999; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; display: block; }
body.navOpen .header2 .rightMenu nav {transform:translate3d(100%,0 ,0);-webkit-transform:translate3d(100%,0 ,0);-ms-transform:translate3d(100%,0 ,0);-o-transform:translate3d(100%,0 ,0); }


body header { transition: all 0.5s ease; -webkit-transition: all 0.5s ease; }
.wrapper { position: relative; left: 0;transition:all 0.5s ease;-webkit-transition:all 0.5s ease; }
.header2 nav .close_btn { position: absolute; right: 5px; top: 5px; width: 24px; height: 24px; background: url(../images/close.png) no-repeat center center; z-index: 999; }
.body-wrapper{ width:100%;overflow-x:hidden; }
body{overflow-x:hidden;}
body.navOpen {overflow: hidden; }
.bg_banner{transition:all 0.5s ease;-webkit-transition:all 0.5s ease; }
body.navOpen header , body.navOpen  .bg_banner,body.navOpen .wrapper{/*left: 70%;z-index: 1;*/  }
body.navOpen #hamburger{ z-index:-1}
.header2 .rightMenu nav>div { position: absolute; z-index: 99999999; background: #fff; height: 100%; left: 0px; width: 100%; overflow: auto; border-right: 5px solid #009380; box-sizing: border-box; }
.header2 .rightMenu nav ul li.level-1>a{ font-size:14px;}
.header2 .rightMenu nav ul li { width: 100%; padding: 0; margin: 0; position: static; }
.header2 .rightMenu nav ul li ul, .header2 .rightMenu nav ul li.level-1 .tb-megamenu-submenu { position: static!important; margin: 0; padding: 0; width: 100%!important; clear: both!important; display: block; border: none; }
.header2 .rightMenu nav ul li.level-1>.tb-megamenu-submenu>.mega-dropdown-inner>.tb-megamenu-row:first-child, .header2 .rightMenu nav ul li.level-1 #tb-megamenu-column-4, .header2 .rightMenu nav ul li .nolink > a ,.header2 .rightMenu nav ul .menu-right-block{ display: none!important; }
.header2 .rightMenu nav ul li.level-1 .menu-link-tb-menu-block { padding: 0; width: 100%; margin: 0; }
.header2 .rightMenu nav ul li.level-1 { padding: 0; border-bottom: 1px solid #009380; position: relative; }
.header2 .rightMenu nav ul li a { display: block; padding: 5px 5px; }
.header2 .rightMenu nav ul li.level-1>a+.tb-megamenu-submenu { display: none; }
.header2 .rightMenu nav ul li.level-1:hover> a + .tb-megamenu-submenu { display: none; }
.header2 .rightMenu nav ul li { font-size: 15px; }
.header2 .rightMenu nav ul { clear: both; }
.header2 .rightMenu nav .help { clear: both; }
.header2 .rightMenu nav .help li ul{ background:#fdfae6;}
.header2 .rightMenu nav .leftLinks li { border-bottom: 1px solid #009380; position: relative; font-size: 14px; }
.header2 .rightMenu nav .help>ul>li { border-bottom: 1px solid #009380; position: relative; font-size: 14px;  }
.header2 .rightMenu nav .help>ul>li>a{text-transform:uppercase;}

.header2 .rightMenu nav .help>ul>li>ul { display: none; }
.header2 .rightMenu nav ul li.level-1>a { text-transform: uppercase; }
.header2 .rightMenu nav .help>ul>li>ul li a { font-size: 12px; line-height: 15px; }
.header2 nav .plus { position: absolute; background: url(../images/plus.png) no-repeat center center; width: 40px; height: 29px; z-index: 999; right: 0px; top: 0; cursor: pointer; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; }
.header2 nav .plus.open {transform: rotate(45deg); -webkit-transform: rotate(45deg); }

/*body .wrapper:after {width:30%; bottom:0;position: absolute; left:70%; top:-98px; background: rgba(51,51,51,0.7); content: '';transition: all 0.5s ease; -webkit-transition: all 0.5s ease; z-index:-1; opacity:0; }*/

/*.header2 nav:after{ height:100%; top:0; width:50.20%;background: rgba(51,51,51,0.7); content: '';transition: all 0.5s ease; -webkit-transition: all 0.5s ease; z-index:-1; opacity:0; left:-100%; position:absolute;}*/
body.navOpen .header2 nav:after{ left:100%; opacity:1; z-index:9999;}
body.navOpen .wrapper:after{ z-index: 9999999; opacity:1;}
.header2 .rightMenu nav .leftLinks{ background:#009380; padding-left: 3px;}
.header2 .rightMenu nav .leftLinks a{ color:#fff;}
.header2 .rightMenu nav .leftLinks li{ border-color:#fff;}
.header2 nav #logo img { margin: 15px auto; display: block; max-width: 50%; }
.header2 .rightMenu nav ul li.level-1 { font-size: 14px; }
.header2 .rightMenu .contact_number { position: absolute; top: -92px; z-index: 99999; left:0; width:100%; }
.header2 .rightMenu .contact_number a { cursor: pointer; }
.header2 .rightMenu .contact_number strong { display: none; }
.header2 .rightMenu .contact_number dd, .header2 .rightMenu .contact_number a { color: #fff; }
/*nav toggle*/
#hamburger { box-sizing: border-box; display: block; width: 40px; height: 36px; position: absolute; top: 10px; right: 10px; z-index: 4; /*background:#009380;*/ }
#hamburger:before, #hamburger:after, #hamburger span { background: #009380; content: ''; display: block; width: 20px; height: 3px; position: absolute; left: 14px; }
#hamburger:before { top: 10px; }
#hamburger span { top: 17px; }
#hamburger:after { top: 24px; }
/* Hamburger animation */
#hamburger:before, #hamburger:after, #hamburger span { -webkit-transition: none 0.5s ease 0.5s; transition: none 0.5s ease 0.5s; -webkit-transition-property: transform, top, bottom, left, opacity; transition-property: transform, top, bottom, left, opacity; }
/*body.navOpen #hamburger:before,
body.navOpen #hamburger:after
{
	top: 16px;	
}
body.navOpen #hamburger span
{
	left: -50px;
	opacity: 0;
}
body.navOpen #hamburger:before
{
	transform: rotate( 45deg );
}
body.navOpen #hamburger:after
{
	transform: rotate( -45deg );
}
*/

.section1 .why_lifecell ul { width: 80%!important; display: block!important; }
.section1 .why_lifecell ul li { width: 100%!important; margin-top: 0; font-size: 17px; border:none; padding:0; }
/*.section1 .why_lifecell ul li span { font-size: 27px; }*/
.main_banner .flex-control-nav { top: 24%; }
.main_banner .caption h1 { font-size: 30px; line-height: 1; }
.main_banner .caption h2 { font-size: 17px; }
.main_banner .flex-control-nav {width:100%; left:0; top:auto; bottom:1%; }
.main_banner .caption { top: 110px; padding-right: 5%; }
.international_quality h3 { font-size: 17px; margin-top: -22px; }
.slideMenu { height: auto; }
.slideMenu .plus_icon { display: none; }
.slideMenu li { width: 20%; padding: 0 2%; }
.slideMenu li a { padding: 14px 1%; text-align: center; font-size: 14px; line-height: 1.4; background-image: none!important; }
.slideMenu .plus_icon { right: 5px; }
.inner_section.dark_section figure { width: 47%; }
.inner_section.dark_section .flex-direction-nav { top: -15px; }
.inner_section.article_section .flex-direction-nav a.flex-prev { left: 0; }
.inner_section.article_section .flex-direction-nav a.flex-next { right: 0; }
.faqs_tabs ul { width: 100%; margin-left: 0; }
.faqs_tabs ul li { width: 100%; padding-right: 0; }
.faqs_tabs ul li:hover h4{ background: #fff url("../images/q_icon.png") no-repeat scroll 10px center;
    color: #0d9986;}
	
.faqs_tabs ul li.active:hover h4{  background: #0d9986 url("../images/q_icon_white.png") no-repeat scroll 10px center;
    color: #fff;}	
.faqs_tabs ul li h4:after{ position:absolute; content:''; width:20px; height:20px; margin-top:-10px; right:5px; top:50%;background:url("../images/plus.png") no-repeat scroll  center center;z-index:99;} 
.faqs_tabs .tabs_content { display: none; }
.faqs_tabs .scroll { height: auto; margin-left: 0; }
.faqs_tabs ul li h4 { display: block; box-sizing: border-box; padding-top: 15px; padding-right:20px; padding-bottom: 15px; height: auto; position:relative; }
.faqs_tabs ul li .content { clear: both; padding: 5%; color: #fff; display: none; clear: both; }
.faqs_tabs ul li.active h4:after{background:url("../images/minus_white.png") no-repeat scroll  center center}
.faqs_tabs ul li.active .content { display: none; }
.faqs_tabs .content::before { position: relative; top: 0; left: -7px; float: left; margin: 0 5px 5px; }
.inner_section.article_section.treat_research article { font-size: 14px; }
.carousel_pricing { padding-top: 20px; }
.corporate_partner .flex-nav-next a { right: 0; }
.corporate_partner .flex-nav-prev a { left: 0; }
.inner_section.how_bank h4 { font-size: 16px; padding: 0; }
.inner_section.how_bank { background-image: none; }
#how_nav li { width: 100%; margin: 0; display: list-item; }
#how_nav.fixed { background: #009380; top: 97px; }
#how_nav ul { background: #009380; padding: 0; margin: 10px 0 0; height: 30px; overflow: hidden; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; position: relative; }
#how_nav ul.open { overflow: auto; height: 150px; }
#how_nav.fixed ul { margin-top: 0; }
#how_nav li h5 { margin: 0!important; text-align: left; color: #fff; }
#how_nav li { box-sizing: border-box; margin: 0!important; }
#how_nav li a { display: block; padding: 10px 10px; box-sizing: border-box; height: 30px; }
#how_nav .arrow { position: absolute; top: 0; right: 0; cursor: pointer; width: 30px; height: 30px; z-index: 999; }
#how_nav .arrow:after { position: absolute; right: 50%; top: 50%; margin-top: -4px; border: 8px solid transparent; border-top-color: #fff; content: ''; transition: all 0.5s ease; -webkit-transition: all 0.5s ease }
#how_nav .arrow.down:after { transform: rotate(-180deg); }
#how_nav li figure { display: none; }
#how_nav li:first-child { margin-top: 30px!important; }
#how_nav li a.active { position: absolute; top: 0px; left: 0; }
#how_nav .wrap { position: relative; }
.tb-detail .transplant figcaption ul li { width: 46%; }
.inner_section.how_bank p { text-align: left!important; }
.inner_section.how_bank h3 { font-size: 20px!important; }
.tb-detail .testing, .tb-detail .transplant, .tb-detail .enrolment { margin: 30px 0 0; }
.best_class h3, .personal_tech h3, .best_class2 h3 { font-size: 25px; }
.decade h2 + p, .accr_middle h2 + p, .compair_bg h2 + p, .benefits_section h2 + p { padding: 0 0 15px; }
.best_class .bc-kit figure { width: auto; max-width: 100%; margin-bottom: 50px; }
.best_class .bc-kit article { width: 100%; }
.section6 h2 { top: 8px; }
.benefits_section .content { padding: 25px 40px 20px; background-position: 5px 5px; min-height: 210px; }
.benefits_section .content::after { right: 5px; bottom: 5px; }
.benefits_section .content h3 { font-size: 20px; }
.hitech_section1 h2 small { font-size: 17px; }
.hitech_section2 .tab_container { width: 100%; margin-bottom: 20px; }
.hitech_section2 figure { width: 100%; margin-bottom: 40px; }
.hitech_section2 figure figcaption { bottom: -50px; }
.hitech_section1 h2 { padding-bottom: 20px; }
.hitech_section2 .tab_content { padding: 15px; }
.slideMenu li:first-child { border-left: none }
.inner_section, .bottom_section, .best_class { padding: 30px 0; margin-bottom: 30px; }
.green_band { padding: 20px 0; }
.accr_tabs ul li { margin-top: 5px; }
.accr_tabs ul li .content{ padding:0; background:#cacaca; padding: 2%; font-size: 12px;}
.accr_tabs ul li figure{ position:relative;}
.accr_tabs ul li figure:after{ content:''; position:absolute; right:10px; top:50%; width:10px; margin-top:-5px; height:10px;background:url("../images/plus.png") no-repeat scroll  center center;z-index:99;}
.accr_tabs ul li.active figure:after{background:url("../images/minus_green.png") no-repeat scroll  center center;}
.accr_tabs ul li.active .content { }
.accr_tabs .content img { margin-bottom: 5px; }
.accr_tabs .content .read_more { margin-top: 5px; }
.accr_tabs { min-height: 241px; }
.existing_cust .form-item-customer-id { width: 43%; }
.form_steps li { width: 95px; }
#buy_online_form .left_section { width: 100%; }
.summary_box { width: 100%; margin-top: 30px; }
#buy_online_form .row > .form-type-radios > label, #buy_online_form .row .form-item-add-babyshield label { font-size: 14px; padding: 8px; }
#buy_online_form .row > .form-type-radios input + label { font-size: 12px; padding-left: 15px; }
.treatments_research p { padding: 15px 0; font-size: 15px; }
.section1 { opacity: 1; }
.request_callback_form .form { padding: 0; }
.archive_list .scroll ul li .title img { width: 17%; margin: 0 2% 10px; }
.press_release_section.upcoming_events .form-item-field-city-tid { width: 222px; }
.press_release_section.upcoming_events .heading h4 { font-size: 15px; }
.carousel_pricing, .special_offers .carousel { max-width: 350px; }
#gift-register-page .form-type-checkbox { margin-right: 0; }
.treatments_research .tab_container .tab_controls li { font-size: 13px; padding: 10px 10px; float: none; display: table-cell; }
.treatments_research .tab_container .tab_content .content li { padding: 10px 0; width: 100%; }
.treatments_research .tab_container .tab_content .content > p { padding: 15px 0; }
.treatments_research .tab_container .tab_content .content ol { margin: 0; }
.press_release_section.upcoming_events .slider li p { padding: 0; }
.accr_tabs .content { font-size: 14px; }
.timeline-controls ul { background: none; }
.timeline-controls ul li.active a{color: #9c2776;} 
.timeline-controls ul li { padding: 0; line-height: 14px; }
.timeline-controls ul li a:hover::after, .timeline-controls ul li.active > a::after { display: none; }
.personal_tech .cell2 figcaption p, .personal_tech .cell1 figcaption p, .best_class p { font-size: 15px; }
.inner_section.hight_stem_cell figure { width: 100%; margin-bottom: 15px; }
.inner_section.hight_stem_cell article { width: 100%; }
.comparison_section .col, .comparison_section .col + .col { margin-left: 0; padding-left: 0; border: none; width: 100%; }
.comparison_section .charts li { width: 83px; }
.comparison_section { padding: 30px 0; }
.inner_section.umbilical_cord_tissue figure { width: 18%; }
.inner_section.umbilical_cord_tissue article { width: 75%; }
.inner_section.umbilical_cord_blood li { width: 28%; }
.inner_section.umbilical_cord_tissue article h2 { margin-left: 0; }
.inner_section.umbilical_cord_tissue article ul { text-align: center; }
.inner_section.umbilical_cord_tissue article li { width: 47%; }
.best_class2{ padding:30px 0;}
.timeline-box{ padding:0;}
/*.timeline-box .timeline-slide, .timeline-slide-inner { width:100%; float:left; display:block;}
.timeline-box .timeline-slide-bx{ width:100%!important; display:none;}*/

.inner_section.refer_friend figure{ margin:0 auto 15px; display:block; float:none; max-width:100%; width:auto;}
.inner_section.refer_friend .right_section{ width:100%;}
.inner_section.refer_friend .form .fieldItem input[type="text"]{ font-size:12px;padding: 7px 4%;}

.bg_banner.home_banner img{ margin-top:98px;}
.read_more{ font-size:16px; height:auto;}
.read_more span{padding:3px 40px 3px 12px;}
.bg_banner {
    background-position: 0 97px !important; background-size:100%!important; background-attachment:scroll!important;
}
.inner_banner figcaption{ right:3%; top:40%;}

#media_popup h2{ font-size:18px;}
#media_popup h2 small{ font-size:13px;}
#contact_popup h4{ font-size:17px;}

.international_quality .carousel .slides .slideItem{ padding-bottom:30px!important}
.subscribe_section .checkbox_row input{ margin-left:14px;}
.section1{height:76px;}
.section1 .why_lifecell .title{padding:14px 35px 14px 0; font-size:20px; background-position: right center;}
.section1 .why_lifecell ul li span{ padding-bottom:0;}
.subscribe_section p{ padding-bottom:10px;}
.why_stemcell .feats li br{ display:none;}
.sample_pickup .sectionTwo input[type="submit"], .track_sample article input[type="submit"], .track_sample .request_form input[type="submit"], .inner_section.storage_fee .form input[type="submit"], .inner_section.refer_friend .form input[type="submit"]{background-position: 93% center;
    padding: 7px 40px 6px 7px; font-size:17px;}
.track_sample article input[type="text"]{ padding: 8px 2%;}	
.inner_section.storage_fee input[type="submit"]{ font-size:17px; padding:8px 40px 8px 10px; background-position:90% center;}
.inner_section.refer_friend .form .read_more{ width:124px;}
.inner_section.refer_friend .form .read_more span{ padding:8px 30px 8px 13px;}
.ourOffices .txt{ right:7px; font-size:12px;}
.ourOffices .gurgaon_office .txt{ left:7px; top:22%;}
.prev_arrow{ left:0;}
.next_arrow{ right:0;}
#timeLine_section{ padding:0 25px;}
.section1 .why_lifecell ul{ margin-right:0!important; position:relative;}
.header2 .rightMenu nav ul li.level-1.active{ background-color:#dcdadc; }
.tb-detail .enrolment figcaption p,.tb-detail .testing figcaption ul li p , .tb-detail .preservation figcaption p,.tb-detail .transplant figcaption ul li p,.tb-detail .enrolment figcaption p,.tb-detail .testing figcaption p, .tb-detail .preservation figcaption ul li p,.tb-detail .preservation figcaption ul li p, .tb-detail .transplant figcaption p{ font-size:15px;}
.tb-detail .transplant figcaption ul li h4{ text-align:left;}
.tb-detail .transplant figcaption ul li p,.tb-detail .preservation figcaption ul li p{ padding:0;}
.best_class .bc-kit article p,.ph_pic ul li .banner-box p{ font-size:15px;}
.fancybox-inner .plan-detail li{ padding:5px; font-size:13px;}
.decade{ padding:30px 0; margin:10px 0 30px;}
.info_details{ padding:30px 0 0;
}
.protection_begins{ padding:30px 0;}
.our-services{ padding:30px 0 0;}
.section5{ margin:30px 0 0;}
.umbilical_cord{ padding:30px 0 10px;}
.info_details .info{ padding-bottom:0;}
.section3{ margin:0;}
.section1 .why_lifecell .title::before{ right:30px;}
.inner_section.how_bank .tb-detail{ padding-top:0;}
.benefits_section .thumbs_slider .flex-prev{ background-image:url("../images/accolades-accrediation-prev.png");}
.benefits_section .thumbs_slider .flex-next{ background-image:url("../images/accolades-accrediation-next.png");}


/*timeline*/
/*.timeline-box .timeline-slide-inner{width:100%;}
.timeline-box .timeline-slide{ width:220px;}*/

body.navOpen #how_nav.fixed{ z-index:0;}
.header2 .rightMenu nav ul li.level-1:hover{}

.header2 .rightMenu nav ul li.level-1:hover > a::after, .header2 .rightMenu nav ul li.level-1.active > a::after{ display:none;}
.header2 .rightMenu nav ul li.level-1 a{ display:block;}

.timeline-box{ max-width:280px; margin:0 auto;}
#storage-fee .form-radios .form-item{ width:92%;margin: 0 0 10px 28px;}
#storage-fee .form-radios .form-item br+br{ display:none;}
.header2 .rightMenu nav ul li.level-1:hover, .header2 .rightMenu nav ul li.level-1.active > a{ background-image:none!important}
#pre-sale .form-item{ width:47%;}

#survey_form .right_section{ width:100%; padding:0;}
#survey_form figure{ display:none;}
#survey_form .form-actions{ padding-left:0;}
#survey_form .form-item input.form-text{ width:95%;}
#survey_form .region-survey{ min-height:10px;}
#survey_form .webform-progressbar-page .webform-progressbar-page-label{ display:none;}
#survey_form .webform-progressbar-page.current .webform-progressbar-page-label{ display:block;}
#survey_form .webform-component p{ padding-bottom:0;}
#survey_form .webform-component-radios > label{ padding:5px;}
#survey_form .webform-progressbar-page .webform-progressbar-page-label{ top:-62px;}
#survey_form .webform-progressbar-inner + .webform-progressbar-page + .webform-progressbar-page, #survey_form .webform-progressbar-inner + .webform-progressbar-page + .webform-progressbar-page + .webform-progressbar-page{ margin-left:0;}
#survey_form .webform-progressbar {
    width: 83%;
}
#survey_form .form-actions input[type="submit"]{ margin:0 5px;}
#survey_form{ padding:20px 0; margin-bottom:30px;}
#termscondition .testBox .row ul,#termscondition .testBox .row h4{ width:auto;}
#termscondition .testBox .row ul li{ width:100%;}
#termscondition .testBox .row ul{ margin-left:0;}
.pregnancy_care .preg_care .flex-viewport{ max-width:350px; margin:0 20px;}
.pregnancy_care .preg_care .flex-viewport .flex-direction-nav a{width:25px;}
.inner_section.pregnancy_care{ margin-bottom:0!important}
.inner_section h2{ padding-bottom:15px;}
.arc_detail_section .tab_container .title{ margin-bottom:10px;}
.arc_detail_section .tab_container .title h3 { font-size: 20px; }
.arc_detail_section .tab_container .slider{ margin-bottom:15px;}
#comments h2{ font-size:20px;}
#comments h2.title.comment-form{ font-size:18px;}
#storage-fee p{ font-size:15px;}
}
 @media only screen and (max-width:640px) {
h3, .inner_section.how_bank h3, .why_stemcell h3 { font-size: 18px; }
.pregnancy_care .preg_care ul li figcaption h3,.pregnancy_health .preg_health ul li figcaption h3,.pregnancy_lifestyle .preg_life ul li figcaption h3,.pregnancy_nutrition .preg_nutr ul li figcaption h3{ font-size:18px; padding:10px 0;}
h2 ,.treatments_research h2{ font-size: 23px; line-height: 1.1; }
.header2 .rightMenu .contact_number { font-size: 10px; }
.umbilical_cord .steps ul { text-align: center }
.umbilical_cord .steps ul li { display: inline-block; float: none; width: 46%; vertical-align: top; margin-bottom: 15px; }
.our-services ul li .banner-box .banner { width: 100%; max-width: 100%; margin-right: 0; }
.info_details ul li { width: 98%; margin-bottom: 15px; }
.main_banner .caption { top: 80px; }
.international_quality .carousel .slides .slideItem{ padding-bottom:50px!important}
.international_quality h3 { margin-top: -10px; font-size: 11px; }
/*.carousel .nextButton ,.carousel .prevButton{ top:63%;}*/
.slideMenu li a { font-size: 13px; }
.inner_section.umbical_cord li { width: 39%; }
.inner_section.article_section.success_stories figure { box-sizing: border-box;
    margin-bottom: 10px;
    padding: 0 25px;
    width: 100%; }
.inner_section.article_section.success_stories figure { width: 100%; margin-bottom:10px; }
.inner_section.article_section.success_stories figure img{ max-width:70%;}
.inner_section.article_section .slider .flex-direction-nav a { top: 22%; }
.inner_section.article_section.success_stories article { width: 100%; padding-left: 0; }
.inner_section.umbical_cord h4 { font-size: 16px; }
.bottom_section .box { width: 100%; }
.bottom_section .box figure img { width: 100%; }
.sample_pickup figure, .sample_pickup article, .track_sample figure, .track_sample article, .track_sample .request_form .text, .track_sample .request_form .form, .inner_section.update_profile article, .inner_section.update_profile figure { width: 100%; margin-bottom: 15px; }
.sample_pickup .sectionTwo, .sample_pickup .sectionOne { position: static; }
.inner_section.storage_fee .fieldItem { width: 100%; }
.inner_section.storage_fee .form-item{ margin:15px 0 0;}
.track_sample .request_form input[type="text"], .track_sample .request_form textarea { width: 42%; }
.track_sample .request_form textarea { position: static; width: 96%; }
.inner_section.gift_registery .region-gift-registry, .inner_section.gift_registery .form, .corporate_partner ul li figure, .corporate_partner ul li article { padding: 0 0 10px; width: 100%; border: none; }
.inner_section.gift_registery .col h3 { font-size: 24px; }
.inner_section.gift_registery .form form .row input { font-size: 12px; }
.inner_section.gift_registery .col p{ font-size:15px;}
.inner_section.how_bank h3 { font-size: 18px!important; }
.accr_top .col { width: 100%; }
.accr_bottom figure { width: 100%; margin-bottom: 15px; }
.accr_bottom article { width: 100%; margin-left: 0; }
.ph_pic ul li { width: 100%; margin: 0 0 15px; }
.personal_tech .cell1 figure, .personal_tech .cell1 figcaption, .personal_tech .cell2 figure, .personal_tech .cell2 figcaption, .compair_bg figure, .compair_bg article { width: 100%; }
.personal_tech .cell1 figcaption .read_more{ margin-top:-20px;}
.compair_bg figure{ margin-bottom:15px;}
.ourOffices article { width: 100%; }
.ourOffices .caption { font-size: 17px; }
.ourOffices .caption a { font-size: 13px; }
.ourOffices .gurgaon_office .txt { bottom: auto; top: 10px; }
.hitech_section2 .tab_controls li { padding: 10px; font-size: 13px; }
.hitech_section1 figure { width: 100%; margin-bottom: 15px; }
.hitech_section1 article { width: 100%; }
.hitech_section1 h2 small { font-size: 16px; }
.accr_tabs ul { padding-right: 0; }
.accr_tabs ul li { width: 100%; margin: 0 0 5px; max-height: none; background: #e0dfdd; clear:both; overflow:hidden; }
.accr_tabs ul li figure { width: 100%; float:left; clear:both; }
.accr_tabs ul li figure img { width: auto; }
.accr_tabs .content { width: 100%; display:none; float:left; position: static; opacity:1; transition:none; min-height:inherit;}
.accr_tabs li.active .content {background: #cacaca}
.accr_tabs li .content .logo { display: none; }

.decade .tab_controls ul { min-height: 58px; }
.decade .tab_content { min-height: 115px; }
.decade .tab_controls ul {/* margin-top:0;*/ min-height: 35px; margin-top:20px; }
.decade .tab_controls ul li { width:34px; font-size:9px; padding:13px 1px 32px!important; background-size: 100%!important; /*background-image: none!important;*/ margin: 0 1px!important; }
.decade article p { font-size: 15px; }
.benefits_section .thumbs_slider { padding: 0 30px; }
.benefits_section .thumbs_slider .flex-prev, .benefits_section .thumbs_slider .flex-next { width: 30px; }
.benefits_section .thumbs_slider .slides li a { font-size: 12px; line-height: 1.2; }
.form_steps { margin: 30px 0; }
#buy_online_form .row { margin-bottom: 0; }
#buy_online_form .step1, #buy_online_form .step2 { padding: 0; }
#buy_online_form .row > .form-item, #buy_online_form .row.row-third #textfields .form-item, #buy_online_form .row .form-item-expected-delivery-date, #buy_online_form .row > .form-item + .form-item, #buy_online_form .row.row-third .form-item { width: 100%; margin: 0 0 15px; }
#buy_online_form .row.row-third #textfields { width: 100%; }
#city-wrapper, #hospital-wrapper, #doctor-wrapper { width: 100%; margin: 0 0 15px; }
.existing_cust .form-item-existing-user { position: static; text-align: left; display: block; }
.existing_cust .form-item-customer-id { width: 54%; text-align: left; }
.form_steps li { width: 70px; font-size: 11px; }
.existing_cust { text-align: left; }
.btn_row { margin: 15px 10px;}
#buy_online_form h4 { font-size: 15px; padding: 15px 0 20px; }
#buy_online_form .row.preg_type { padding: 10px; box-sizing: border-box; width: 100%; margin: 0 0 10px; }
#buy_online_form #edit-question-95 .form-item label, #buy_online_form #edit-question-108 .form-item label, #buy_online_form #edit-question-112 .form-item label { margin-left: 23px; }
#buy_online_form .otp_row .form-item { width: 45%; margin: 0 10px 0 0; }
#buy_online_form .otp_row label { margin-right: 5px; }
#buy_online_form .otp_row input[type="submit"] { width: auto; padding: 0 5px; }
.request_callback_form .row > .form-item, .request_callback_form .row > .form-item + .form-item { width: 100%; margin: 0 0 15px; }
.request_callback_form .row > .form-item + .form-item { width: 100%; margin: 0 0 15px; }
.subscribe_section .block { width: 100%; }
.request_callback_form .row { margin-bottom: 0; }
.subscribe_section .row { margin-bottom: 10px; }
.inner_section.subscribe_section { background-position: left center; padding: 0; }
.inner_section.subscribe_section h2 { padding-bottom: 0; }
.inner_section.subscribe_section .wrapper-content { background: rgba(0,147,128,0.7); padding: 30px 2%; }
.subscribe_section input[type="text"] { width: 95%; }
.arc_detail_section .tab_container { width: 100%; }
.archive_list { width: 100%; margin-top: 20px; }
.archive_list .scroll ul li .title img { width: auto; }
.section6 h2 { font-size: 25px; }
.inner_section.why_umbilical figure, .inner_section.umbilical_cord_tissue figure { width: 100%; margin-bottom: 15px; }
.inner_section.umbilical_cord_tissue figure img { max-width: 38%; }
.inner_section.why_umbilical article { width: 100%; }
.inner_section.umbilical_cord_blood li { width: 96%; }
.inner_section.umbilical_cord_tissue article { width: 100%; margin-left: 0; }
.write_us_section.wish_to_attend figure { width: 100%; margin-bottom: 15px; }
.write_us_section.wish_to_attend .block { width: 100%; }
.request_callback_form .row > .form-item + .container-inline-date{ position:static; width:100%; margin:0 0 0px;}
.request_callback_form .row > .form-item.form-type-checkbox{ margin:0 0 15px;}
	 .inner_banner figcaption span{ font-size:14px;}
h1{ font-size:25px;}
#buy_online_form .row .container-inline-date{width:100%; margin-bottom:15px;}
#buy_online_form .row.row-third ~ .row .container-inline-date{ width:100%;}
#buy_online_form .row + #doctor-wrapper{ margin-top:0px;}
.request_callback_form .row{ max-height:none;}
.request_callback_form .row > .form-item ~ .form-item{ margin-left:0;}
.request_callback_form #edit-request-type .form-item{ margin:0 3px 10px;}

#buy_online_form .step2 .row .form-item.form-item-delivery-state {
    margin: 0 0 15px;
    width: 100%;
}
.carousel_pricing, .special_offers .carousel {max-width:260px; }
.carousel_pricing .prevButton{ left:-24px;top:45%;}
.carousel_pricing .nextButton{ right:-24px;top:45%}
.pricing_box h3{ font-size:100%;}
.bottom_section .box h3{ font-size:20px;}
.bottom_section .box { font-size:13px;}
.pricing_box .total{ padding:2% 0;}
.pricing_box .total strong{ font-size:150%;}
.inner_banner figcaption h1{ font-size:20px;}
.inner_banner figcaption span{ font-size:13px;}
form#info-kit{ width:280px;}
form#info-kit .form-item{ margin:0 0  5px; width:100%;}
form#info-kit .form-item input{font-size:12px;}
#buy_online_form .row.preg_type + h4 + .row ~ .row{ margin-top:0;}

.pricing_box .row h4 {
    font-size: 126%;
    padding-bottom: 10px;
}
#storage-fee .form-item{ width:100%; margin:0 0 15px;}
#storage-fee  label[for="edit-upgrade-plan"]{ margin-left:30px;}
.tb-detail .testing figcaption ul li h4,.tb-detail .preservation figcaption ul li h4,.tb-detail .transplant figcaption ul li h4{ padding-bottom:10px;}
.tb-detail .collection figcaption p{ font-size:15px;}
form#info-kit .form-item input{ padding:6px 2% 10px;}
form#info-kit input[type="submit"]{ margin-top:5px;}
form#info-kit .date-padding input{ background-position:95% 0px!important; background-size:auto 77%!important;}
.pregnancy_health .preg_health ul li{ padding:10px;}
.pregnancy_lifestyle .preg_life ul li figure,.pregnancy_lifestyle .preg_life ul li figcaption,.pregnancy_nutrition .preg_nutr ul li figure,.pregnancy_nutrition .preg_nutr ul li figcaption{ width:100%;}
.pregnancy_care .preg_care ul li figcaption h3{ min-height:10px;}
.pregnancy_health p,.pregnancy_lifestyle p,.pregnancy_nutrition p{ padding:0;}
.pregnancy_lifestyle p{ font-size:16px;}
#comments input[type="text"], #comments input[type="email"], #comments textarea{ width:92%;}
#comments textarea{ width:100%;}
.sharethis-wrapper .stButton{ margin-bottom:5px;}
.pregnancy_care .preg_care .flex-direction-nav .flex-prev,.pregnancy_lifestyle .preg_life .flex-direction-nav .flex-prev{ left:-5px; width:25px;}
.pregnancy_care .preg_care .flex-direction-nav .flex-next,.pregnancy_lifestyle .preg_life .flex-direction-nav .flex-next{ right:-5px; width:25px;}

}
 @media only screen and (max-width:480px) {
.main_banner .caption{ top:30px;}
.main_banner .caption{ padding-right:3%}
/*.rightLinks{ font-size:10px;}*/	
.why_stemcell figure { width: 100%; margin-bottom: 40px; }
.inner_section.dark_section article { width: 100%; }
.inner_section.dark_section figure { width: 100%; }
.inner_section.umbical_cord li { width: 98%; }
.inner_section.dark_section + .inner_section.dark_section .flex-direction-nav { width: auto; left: auto; right: 0; }
.why_stemcell .feats li { width: 98%; margin: 0 0 15px; }
.bottom_section .box h4 { padding-bottom: 5px; }
.bottom_section .box h3 { padding-bottom: 5px; }
#request-an-appointment div.form-item { width: 98%; }
.request-form form input { margin: 5px 0; }
.tb-detail .testing figure, .tb-detail .preservation figure, .tb-detail .transplant figure, .tb-detail .enrolment figure, .tb-detail .collection figure { width: 100%; margin: 0 0 15px; }
.tb-detail .transplant figcaption ul li { width: 100%; margin: 0 0 15px; }
.tb-detail .testing figcaption ul li, .tb-detail .preservation figcaption ul li { width: 100%; margin: 0 0 10px; text-align: left; }
.form_steps li { font-size: 8px; width: 51px; }
.subscribe_section input[type="text"] { font-size: 12px; }
.webinars_section figure { width: 100%; margin-bottom: 15px; }
.webinars_section article { width: 100%; }
.archive_list_section li { width: 310px; }
.pricing_box .row { padding:2%; font-size:83%; }
.inner_section.umbilical_cord_tissue article li { width: 96%; }
.inner_section.why_umbilical .feat_list li .icon { margin-bottom: 30px; }
.main_banner .caption h1{ font-size:18px;}
.main_banner .caption h2{ font-size:11px;}
.fancybox-inner .plan-detail li{ padding:5px 0; font-size:13px;}
form#info-kit{ width:250px;}
.decade .tab_controls ul li{ margin:0px -2px!important}
#pre-sale .form-item{ width:100%; margin:0 0 10px;}
.subscribe_section .row .form-item, .subscribe_section .row.three_col .form-item{ width:100%; margin:0 0 10px;}
.subscribe_section .row .container-inline-date{ position:static; width:100%;}
.subscribe_section .row .container-inline-date>div , .subscribe_section .row .container-inline-date>div>div,.subscribe_section .row .container-inline-date>div>div>div{ width:100%; margin:0; float:none;}
.subscribe_section .row .container-inline-date input{ position:static;}
}
 @media only screen and (max-width:400px) {
	 
.decade .tab_controls ul li{ margin:0px -6px!important; background-image:none!important}	 
	 
	 }
	 