<!-- <!DOCTYPE html>-->
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" class="ltr" lang="en">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Planisto-your personal event planner</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/angular-google-places-autocomplete/src/autocomplete.css" />
	<link rel="stylesheet" href="bower_components/angular-google-places-autocomplete/dist/autocomplete.min.css" />
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
	<link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/dashboard/style.css">
	<link rel="stylesheet" href="styles/themify-icons.min.css">
	<link rel="stylesheet" href="font-awesome-4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="styles/styles.css">
	<!-- endbuild -->
</head>
<body ng-app="planistoApp" id="page-top">
	<script>
// This is called with the results from from FB.getLoginStatus().
  /*function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
}*/

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  /*function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
}*/
window.fbAsyncInit = function() {
	FB.init({
		appId      : '902288163194766',
		xfbml      : true,
		version    : 'v2.4'
	});

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.
    /*FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});*/
};

(function(d, s, id){
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));



  /*function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
}*/
</script>
<div id="loading"></div>
<!--Start page-->
<!--Start page-->
<div class="content-wrap">
	<!--Ng-view pages-->
	<div class="view-container">
		<div ng-view class="view-frame"></div>
	</div>
</div>
<!-- footer page-->

<!---->
<ng-include src="'views/footer.html'" scope="" onload=""></ng-include>
<!---->
<!--Login section-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true" ng-controller="LoginCtrl">
	<div class="modal-dialog">
		<div class="login-box">
			<div class="lb-header">
				<a href="javascript:;" ng-class="{'active' : tab === 1}" id="login-box-link" ng-click="tab = 1">Login</a>
				<a href="javascript:;" id="signup-box-link" ng-class="{'active' : tab === 2}" ng-click="tab = 2">Sign Up</a>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#loginModal">
					<span class="fa fa-times" style="float:right;cursor:pointer;" ></span>
				</button>
			</div>
			<div class="social-login">
				<md-icon md-svg-icon="images/material-design/svg/facebook56.svg" style="color: #0F0;" aria-label="facebook"></md-icon>
				<a href="#">
					<i class="fa fa-google-plus fa-lg"></i>
					Google+ Login
				</a>
			</div>
			<form class="email-login" ng-init="tab = 1" ng-show="tab === 1">
				<div layout="row">
					<md-input-container flex>
					<input type="email" ng-model="user.email" placeholder="Email" ng-required="true"></md-input-container>
				</div>
				<div layout="row">
					<md-input-container flex>
					<input type="password" ng-model="user.paasword" placeholder="Password" ng-required="true"></md-input-container>
				</div>
				<div layout="row" >
					<div>
						<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">Remember Me</md-checkbox>
					</div>
				</div>
				<div class="u-form-group">
					<button>Log in</button>
				</div>
				<div class="u-form-group">
					<a href="#" class="forgot-password">Forgot password?</a>
				</div>
			</form>
			<form class="email-signup" ng-show="tab === 2">
				<div layout="row">
					<md-input-container flex>
					<input type="email" ng-model="newUser.email" placeholder="Email" ng-required="true"> 
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container flex>
				<input type="password" ng-model="newUser.paasword" placeholder="Password" ng-required="true"></md-input-container>
			</div>
			<div layout="row">
				<md-input-container flex>
				<input type="password" ng-model="newUser.cnfPaasword" placeholder="Confirm Password" ng-required="true"></md-input-container>
			</div>
			<div class="u-form-group">
				<button>Sign Up</button>
			</div>
		</form>
	</div>
</div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
<script src="bower_components/angular-google-places-autocomplete/dist/autocomplete.min.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="bower_components/angular-ui-scroll/dist/ui-scroll.js"></script>
<script src="bower_components/angular-ui-scrollpoint/dist/scrollpoint.js"></script>
<script src="bower_components/angular-ui-event/dist/event.js"></script>
<script src="bower_components/angular-ui-mask/dist/mask.js"></script>
<script src="bower_components/angular-ui-validate/dist/validate.js"></script>
<script src="bower_components/angular-ui-indeterminate/dist/indeterminate.js"></script>
<script src="bower_components/angular-ui-uploader/dist/uploader.js"></script>
<script src="bower_components/angular-ui-utils/index.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/services/search/searchservice.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/results.js"></script>
<script src="scripts/controllers/UserPage.js"></script>
<script src="scripts/services/UserInfo.js"></script>
<script src="scripts/services/authentication.js"></script>

<script src="scripts/directives/ibox.js"></script>
<!-- <script src="scripts/jquery.refineslide.js"></script> -->
<script src="scripts/wow.min.js"></script>

<!-- endbuild -->
</body>