<div class="azad">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel">
				<div class="r-t pos-rlt">
					<div class="p-lg bg-white-overlay text-center r-t">
						<a href="" class="w-xs inline">
							<img src="images/header3.png" class="img-circle img-responsive">
						</a>
						<div class="md-ripple-container"> </div>
					</div>
				</div>

			</div>
		</div>
		<div class="col-sm-8">
			<div class="panel">
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(function() {
		$("#panel").click(function() {
			$(".md-ripple-container").toggleClass("panel");
		});
	});
	</script>
</div>

