<section ng-app="myApp" ng-controller="ProductCtrl" id="screenshot">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="row">
				<div>
					<ul class="product">
						<li ng-repeat="data in value">
							<div class="col-md-3 col-sm-6 col-xs-12" >
							<div productlist imgsource={{data.imgsource}} targetpage={{data.targetpage}}>
							</div>
							</div>
						</li>
					</ui>
				</div>	
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12 pt-50 pb-50">
          <ul class="countdown-style2">
            <li> <span id="days-sub">days</span>
              <div style="display:inline;width:140px;height:140px;"><canvas width="140" height="140px"></canvas><input class="knob" data-fgcolor="#fff" data-fillcolor="rgba(255,255,255,0.3)" data-height="140" data-max="366" data-min="0" data-readonly="true" data-skin="tron" data-thickness="0.1" data-width="140" id="days" readonly="readonly" style="width: 74px; height: 46px; position: absolute; vertical-align: middle; margin-top: 46px; margin-left: -107px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 28px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none; background: none;"></div>
            </li>
            <li> <span id="hours-sub">hours</span>
              <div style="display:inline;width:140px;height:140px;"><canvas width="140" height="140px"></canvas><input class="knob" data-fgcolor="#fff" data-fillcolor="rgba(255,255,255,0.3)" data-height="140" data-max="24" data-min="0" data-readonly="true" data-skin="tron" data-thickness="0.1" data-width="140" id="hours" readonly="readonly" style="width: 74px; height: 46px; position: absolute; vertical-align: middle; margin-top: 46px; margin-left: -107px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 35px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none; background: none;"></div>
            </li>
            <li> <span id="mins-sub">minutes</span>
              <div style="display:inline;width:140px;height:140px;"><canvas width="140" height="140px"></canvas><input class="knob" data-fgcolor="#fff" data-fillcolor="rgba(255,255,255,0.3)" data-height="140" data-max="60" data-min="0" data-readonly="true" data-skin="tron" data-thickness="0.1" data-width="140" id="mins" readonly="readonly" style="width: 74px; height: 46px; position: absolute; vertical-align: middle; margin-top: 46px; margin-left: -107px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 35px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none; background: none;"></div>
            </li>
            <li> <span id="secs-sub">seconds</span>
              <div style="display:inline;width:140px;height:140px;"><canvas width="140" height="140px"></canvas><input class="knob" data-fgcolor="#fff" data-fillcolor="rgba(255,255,255,0.3)" data-height="140" data-max="60" data-min="0" data-readonly="true" data-skin="tron" data-thickness="0.1" data-width="140" id="secs" readonly="readonly" style="width: 74px; height: 46px; position: absolute; vertical-align: middle; margin-top: 46px; margin-left: -107px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 35px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none; background: none;"></div>
            </li>
          </ul>
          <!-- launch countdown end --> 
        </div>
	</div>
	<div draggable> Pramod</div>
</section>


<style type="text/css">
.countdown {margin-left: -54px;}.countdown li {display: inline-block;width: 100px;}.countdown span {font-size: 15px;font-style: normal;font-weight: 400;text-transform: uppercase;margin-left: 42px;color: #FFF;}.countdown input {font-weight: 400!important;font-size: 30px!important;}.countdown li div {display: block!important;}.countdown.style2 li {width: auto;}.countdown.style2 li span {margin-left: 0;}

.countdown-style2{background: rgba(0, 0, 0, 0) linear-gradient(to right, #333333 40%, #333333 40%, #333333 40%, #333333 100%) repeat scroll 0 0;}
</style>