<div class="panel-body">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="panel">
				<div class="panel-heading">
					<span><md-icon class= "help" md-svg-src="help"></md-icon>FAQ
					</span>
				</div>
				<div class="panel-body">
					<div class="section-header">
						<h4>Frequently Asked Questions</h4>
					</div>
					<div id="accordion">
						<div clas="acc-panel-heading" style="background-color: #FFFFFF; box-shadow: 3px 3px 8px #F4D0D4;">
							<h3>Registration</h3>
						</div>
						<div class="acc-content" style="display: block; background-color: #F9F9F9; box-shadow: rgb(244, 208, 212) 3px 3px 8px;">
							<!-- <div id="accordion-inner">
								<div clas="acc-panel-heading" style="background-color: #FFFFFF; box-shadow: 3px 3px 8px #F4D0D4;">
									<h3>Question -1</h3>
								</div>
								<div class="acc-content" style="display: block; background-color: #F9F9F9; box-shadow: rgb(244, 208, 212) 3px 3px 8px;">

								</div>
								<div clas="acc-panel-heading" style="background-color: #FFFFFF; box-shadow: 3px 3px 8px #F4D0D4;">
									<h3>Question -2</h3>
								</div>
								<div class="acc-content" style="display: block; background-color: #F9F9F9; box-shadow: rgb(244, 208, 212) 3px 3px 8px;">
									
								</div>
								<div clas="acc-panel-heading" style="background-color: #FFFFFF; box-shadow: 3px 3px 8px #F4D0D4;">
									<h3>Question -3</h3>
								</div>
								<div class="acc-content" style="display: block; background-color: #F9F9F9; box-shadow: rgb(244, 208, 212) 3px 3px 8px;">
									
								</div>
							</div> -->
						</div>
							<div clas="acc-panel-heading" style="background-color: #FFFFFF; box-shadow: 3px 3px 8px #F4D0D4;">
								<h3>Account Related</h3>
							</div>
							<div class="acc-content" style="display: block; background-color: #F9F9F9; box-shadow: rgb(244, 208, 212) 3px 3px 8px;">
								<p>Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
									Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
									faucibus interdum tellus libero ac justo.</p>
								</div>
								<div clas="acc-panel-heading" style="background-color: #FFFFFF; box-shadow: 3px 3px 8px #F4D0D4;">
									<h3>Payment Related	Q`	1</h3>
								</div>
								<div class="acc-content" style="display: block; background-color: #F9F9F9; box-shadow: rgb(244, 208, 212) 3px 3px 8px;">
									<p>Nam enim risus, molestie et, porta ac, aliquam ac, risus.
										Quisque lobortis.Phasellus pellentesque purus in massa.</p>
										<ul>
											<li>List item one</li>
											<li>List item two</li>
											<li>List item three</li>
										</ul>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<script>
				$( "#accordion" ).accordion();
				
				</script>
				<script >
				$( "#accordion-inner" ).accordion();
				</script>
			</div>