<section id="footer" >
		<div class="footer-center" ng-controller="FooterCtrl as footer">
			<div class="row">
				<div class="column col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="box contact-us">
						<div class="box-heading"><span>Contact Us</span></div>
						<div class="box-content">
							<p>Feel free to email us to provide some feedback on our website, give us any suggestions to improve our sevices, or to just say hello!</p>

							<p>Phone: +9100000000</p>

							<p>Email: contact@planisto.in</p>

							<div  layout="column">
								
								<div class="lock-size" layout="row" layout-align="center center">
									<md-fab-speed-dial md-direction="right"
									ng-class="md-fling">
									<md-fab-trigger>
									<md-button aria-label="menu" class="md-fab">
									<md-icon md-svg-src="menu"></md-icon>
								</md-button>
							</md-fab-trigger>
							<md-fab-actions>
							<md-button aria-label="Twitter" class="md-fab md-raised md-mini Twitter">
							<md-icon md-svg-src="twitter" aria-label="Twitter" style="color: #00aced;"></md-icon>
						</md-button>
						<md-button aria-label="Facebook" class="md-fab md-raised md-mini">
						<md-icon class= "facebook" md-svg-src="facebook" aria-label="Facebook" style="color: #3b5998;"></md-icon>
					</md-button>
					<md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
					<md-icon class="hangout" md-svg-src="google" aria-label="Google Hangout" style="color: #dd4b39;"></md-icon>
				</md-button>
			</md-fab-actions>
		</md-fab-speed-dial>
	</div>
</div>

</div>
</div>
</div>
<div class="column col-xs-12 col-sm-6 col-md-6 col-lg-4">
	<div class="box">
		<div class="box-heading"><span>Customer Service</span></div>
		<div class="box-content">
			<ul class="list">
				<li><a ng-href="#contact">contact us</a></li>
				<li><a ng-href="#azad">azad</a></li>
				<li><a href="#azad">Return Policy</a></li>
				<li><a href="javascript:;" data-toggle="modal" data-target="#loginModal">login</a></li>
				<li><a href="http://demopavothemes.com/pav_floral/index.php?route=product/manufacturer">Brands</a></li>
				<li><a href="http://demopavothemes.com/pav_floral/index.php?route=account/voucher">Gift Vouchers</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="column col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<!-- <div
		class="fb-like"
		data-share="true"
		data-width="450"
		data-show-faces="true">
	</div>
	<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button> -->

<div id="status">
	{{message}}
</div>
</div>
</div>
</div>
<section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright-text">
             © Planisto 2015 All right reserved.  
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
</section>