<ng-include src="'views/sidebar.html'" scope="" onload=""></ng-include>
<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <ng-include src="'views/Topbar.html'" scope="" onload=""></ng-include>
    </div>
    <div class="row">
        <div class="col-lg-3">
                <div class="contact-box center-version">

                    <a href="profile.html">

                        <img alt="image" class="img-circle" src="img/a2.jpg">


                        <h3 class="m-b-xs"><strong>John Smith</strong></h3>

                        <div class="font-bold">Graphics designer</div>
                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white" data-toggle="tooltip" data-placement="left" title="Tooltip on left"><i class="fa fa-user-secret"></i> Add to team </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Invite</a>
                        </div>
                    </div>

                </div>
            </div>
    </div> 
</div>