<!-- Services Section -->
    <section id="service" class="content-section text-center">
        <h2 class="section-title">Our Services</h2>
        <div class="vspacer30"></div>
            <div class="container">
                <div class="row row-centered">
                    <div class="col-xs-6 col-centered col-fixed">
                        <div class="item">
                            <div class="item_content_img">
                                <img src="img/business_dinner.jpg"/>
                            </div>
                            <div class="item_content_txt">
                            <div class="vspacer10"></div>
                                Business Events
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-centered col-fixed">
                        <div class="item">
                            <div class="item_content_img">
                                <img src="img/business_dinner.jpg"/>
                            </div>
                            <div class="item_content_txt">
                            <div class="vspacer10"></div>
                                Wedding Planning
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-centered col-fixed">
                        <div class="item">
                            <div class="item_content_img">
                                <img src="img/business_dinner.jpg"/>
                            </div>
                            <div class="item_content_txt">
                            <div class="vspacer10"></div>
                                Mehndi Sangeet Engagment
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-centered col-fixed">
                        <div class="item">
                            <div class="item_content_img">
                                <img src="img/business_dinner.jpg"/>
                            </div>
                            <div class="item_content_txt">
                            <div class="vspacer10"></div>
                                Birthday Party
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-centered col-fixed">
                        <div class="item">
                            <div class="item_content_img">
                                <img src="img/business_dinner.jpg"/>
                            </div>
                            <div class="item_content_txt">
                            <div class="vspacer10"></div>
                                Kitty Party
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-centered col-fixed">
                        <div class="item">
                            <div class="item_content_img">
                                <img src="img/business_dinner.jpg"/>
                            </div>
                            <div class="item_content_txt">
                            <div class="vspacer10"></div>
                                DJ Night
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>