<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">  
    <ul class="nav metismenu" id="side-menu">
      <div class="widget-head-color-box navy-bg p-lg text-center" style="margin-top: 0;border-radius: 0;">
        <div class="m-b-md">
          <h2 class="font-bold no-margins">
            Alex Smith
          </h2>
          <small>Founder of Groupeq</small>
        </div>
        <img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
      </div>
      <li>
        <a href="#wedding/dashboard"><i class="fa fa-th-large"></i> Dashboards<span class="nav-label"></span> </a>
      </li>
      <li><a href="#wedding/dashboard/guest"><i class="fa fa-users"></i>Guest Management</a></li>
      <li><a href="dashboard_2.html">wedding Cards</a></li>
      <li><a href="dashboard_3.html">Dashboard v.3</a></li>
      <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
      <li><a href="#wedding/pinboard"> <i class="fa fa-map-pin"></i>Pin Board<span class="label label-primary"></span></a>
      </li>
      <li>
        <a href="#email"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
        <ul class="nav nav-second-level collapse">
          <li><a ng-href="mailbox.html">Inbox</a></li>
          <li><a href="mail_detail.html">Email view</a></li>
          <li><a href="mail_compose.html">Compose email</a></li>
          <li><a href="email_template.html">Email templates</a></li>
        </ul>
      </li>
      <li>
        <a href="css_animation.html"><i class="fa fa-magic"></i> <span class="nav-label">CSS Animations </span><span class="label label-info pull-right">62</span></a>
      </li>
      <li >
        <a target="_blank" href="landing.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning pull-right">NEW</span></a>
      </li>
      <li >
        <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
      </li> 
    </ul>
  </div>
</nav>